body {
    padding: 0px;
    background: yellowgreen;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    color: black;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid whitesmoke;
}

.nav {
    display: flex;
    background: green;
}

.page-title {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-item {
    border: 1px solid white;
    display: flex;
    align-items: center;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
    color: whitesmoke;
}

.nav-item:hover {
    background-color: gray;
}
.content-title {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
   display: flex; 
}

.content-left {
    box-sizing: border-box;
    width: 50%;
    font-style: italic;
    color: black;
}
.image {
    width: 900px;
    height: 370px;
}
.container-left {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-style:normal;
}
.image-icon {
    width: 5%;  
    padding: 10px;
}
.author {
    display: flex;
    font-weight: 550;
    flex-direction: column;
    position: relative;
}

.id-author {
    display: flex;
    padding: 0;

}
.border {
    border-bottom: 3px solid green;
    width: 150px;
    height: 0px;
}
.content-right {
    box-sizing: border-box;
    width: 50%;
    background: green;
    padding: 20px;
    color: white;
}

.contact-us {
    padding: 0px 0px 0px 20px;
}
.contact-us span {
    padding: 0px 0px 0px 20px;
}
.button {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1px solid white;
    background: darkslategray;
    color: white;
    padding: 10px 0;
    margin-top: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: black;
    color : gray;
}

.content-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: green;
}

input {
    margin-bottom: 10px;
    padding: 8px 2px;
}

select {
    padding: 8px 2px;
}

.content-image {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    width: 100%;
    display: none;
}

.active {
    display: block;
}
.content-image span {
    color: black;
}

.content-second {
    display : flex;
    justify-content: space-between;
    margin-top: 5px;
}
.promo {
    box-sizing: border-box;
    float:left;
    /*font-style: italic;*/
    font: helvetica;
    width: 30.7%;
    background: green;
    color: white;
    padding: 20px;
}
.keranjang-promo img {
    width : 10% ;
    border: 1px solid white;
    background: white;
    padding: 3px;
    border: 1px;
    cursor: pointer;
}
.keranjang-promo img:hover {
    background: yellowgreen;
}
.benefit {
    box-sizing: border-box;
    background: green;
    width: 68.8%;
    font-family: monospace;
    padding: 30px;
    color: white;
}
.benefit-second {
    display: flex;
    box-sizing: border-box;
}

.benefit-title {
    text-align: center;
    justify-content: center;
    align-items: center;
}
.border-benefit {
    border-bottom: 3px solid greenyellow;
    width: 450px;
    height: 0px;
}
.benefit-a {
    width:50%
}
.benefit-b{
    width:50%

}
.benefit-list {
    align-items: center;
    font-weight: 800;
    font-family: monospace;
    align-items: center;
}
.benefit-list img {
    width: 50px;
    height:50px;
    justify-content:center;
    background: yellowgreen;
    border-radius: 10px;

}
.package {
    display: flex;
}

.heading-package {
    background: green;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.package-list {
    display:flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    gap: 6px;
}
.package-item {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: flex-start;
    width: 15em;
}
.package-icon {
    border-radius: 20px;
    padding: 2px;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}
.package-content {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.package-content h3 {
    font-weight: 500;
}

.closing  {
    color: white;
    border-top: 2px solid white;
}
.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align:center;
    align-items: center;
    position: inline-block;
    justify-content: center;
}
.closing-title {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.button {
    flex-direction: column;
    width: 200px;
    border: 1px solid green;
    background: white;
    color: green;
    padding: 10px 0;
    margin-bottom: 10px;
    font-weight: 700;
    cursor: pointer;
}

.button:hover {
    background-color: green;
    color : white;
}

.error-message{
    color: red;
    font-size: 0.8em;
    margin-top: 0;
}
.footer {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    font-style: bold;
    background: green;
}

@media screen and (max-width: 767px) {
        .content {
            flex-direction: column;
        }
        .content-left {
            width: 100%;
        }
        .content-right {
            width: 100%
        }
        .nav{
            display: none !important;
        }
}